name: Publish to NPM on Github Release

on: 
  release:
     types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        token: ${{secrets.SUB_MODULE_PAT}}
        submodules: recursive
    - name: Cache Dependencies
      uses: actions/cache@v2
      with:
        path: 'node_modules'
        key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
    - name: Use Node 14
      uses: actions/setup-node@v1
      with:
        node-version: 14
        registry-url: 'https://registry.npmjs.org'
        always-auth: true
    - name: Install Dependencies
      run: yarn install --frozen-lockfile
    - name: Build
      run: yarn build
    - name: Publish to NPM
      run: npm publish
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}