name: Tests

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        token: ${{secrets.SUB_MODULE_PAT}}
        submodules: recursive
    - name: Cache Yarn Cache
      uses: actions/cache@v2
      with:
        path: 'node_modules'
        key: ${{ runner.os }}-modules-${{ hashFiles('yarn.lock') }}
    - name: Install modules
      run: yarn --frozen-lockfile
    - name: License Header Check
      run: yarn license-check
    - name: Build
      run: yarn build
    - name: Run tests
      run: yarn test